body{
  background-image: linear-gradient(79deg, #62c6df, #3887c7 48%, #34d1af);
}

.login-form-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: linear-gradient(79deg, #62c6df, #3887c7 48%, #34d1af);
  }
  
  @media screen and (min-width: 600px) {
    .login-form-container {
      padding: 5rem;
      border: 1px solid white;
      border-radius: 10px;
      margin: 0.5rem;
    }
  }
  

  
  input {
    margin: 8px 0;
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    width: 100%;
  }
  
  button {
    border: none;
    border-radius: 20px;
    background-color: white;
    padding: 10px 35px;
    cursor: pointer;
    color: #7439db;
    font-weight: bold;
    letter-spacing: 1px;
	  text-transform: uppercase;
	  transition: transform 80ms ease-in;
  }
  

  .register-link{
    list-style: none;
    font-size: 12px;
    font-weight: bold;
    padding-top: 20px;
  }
  .input{
    display: flex;
  }
  .login-error{
    font-weight: bold;
    color: rgb(109, 10, 30);
    
  } 